.m{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.m p{
    list-style-type: none;
    height:50px;
    font-size:30px;
    padding-left:30px ;
    width:70vw;
    border:1px solid grey;
    margin-left: 130px;
    box-shadow: 0 1px 3px rgb(72 , 57, 57,1);
    border-radius: 7px;
    background-color:  #e9e7e742;
    align-items: center;
}
